* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-height: 100vh;
  font-family: 'Inter', sans-serif;
}

:root {
  --brand100: #364FC7;
  --brand200: #3B56D9;
  --gray100: #212529;
  --gray200: #343A40;
  --gray300: #495057;
  --gray400: #868E96;
  --gray500: #ADB5BD;
  --gray600: #E9ECEF;
  --gray700: #F1F3F5;
  --gray800: #F8F9FA;
  --gray900: #FCFEFF;
  --alert100: #C73650;
  --alert200: #DB3C58;
  --sucess100: #087F5B;

  --font-size-1: 32px;
  --font-size-2: 24px;
  --font-size-3: 20px;
  --font-size-4: 16px;
  --font-size-5: 14px;

  --font-weigth-1: 600;
  --font-weigth-2: 500;
  --font-weigth-3: 400;

  --line-height-1: 48px;
  --line-height-2: 36px;
  --line-height-3: 30px;
  --line-height-4: 24px;
  --line-height-5: 21px;
  --line-height-6: 150%;

  --radius-1:8px;
  --radius-2:4px;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
}

.container-2{
  max-width: 1200px;
  height: 100vh;
  margin: 0 auto;
}

.hidden{
  display: none;
}

.loading{
  animation: spinner 1s infinite;
}

@keyframes spinner {
  0% {
      transform: rotate(0);
  }

  100%{
      transform: rotate(360deg)
  }
}
