.modal_wrapper{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
}

.modal{
    gap: 50px;
    padding: 40px;
    position: absolute;
    width: 900px;
    max-height: 85vh;
    overflow: auto;
    border-radius: var(--radius-2);
    background-color: var(--gray900);
    left: 0;
    right: 0;
    top: 10%;
    margin: 0 auto;
}

/* .head_modal_fullPost{
}

.body_modal_fullPost{
} */

.modal_fullPost_title{
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    margin-bottom: 30px;
    margin-top: -15px;
}

.modal_fullPost_paragraph{
    font-weight: 400;
    font-size: 16px;    
    line-height: 150%;
}

.modal_title{
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: var(--gray100);
}

.body_modal_edit{
    gap: 20px;
}

.editTextInput{
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: var(--gray100);
}

.footer_modal_edit{
    gap: 20px;
}

.body_modal_exclude{
    gap: 15px;
}

.modal_exclude_title{
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
}

.modal_exclude_paragraph{
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}

.footer_modal_exclude{
    gap: 20px;
}

.exit_modal{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    background-color: var(--gray900);
    height: 90px;
    width: 215px;
    left: 45px;
    top: 41px;
    border-radius: var(--radius-2);
    border: 1px solid var(--gray600);
}

.modal_animation{
    animation: modalAnimation 400ms ease-in-out forwards;
}

@keyframes modalAnimation{
    0%   {transform: translateY(-100px);}
    100% {transform: translateY(0px);}
}




